

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <!------ Include the above in your HEAD tag ---------->

</head>

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">HabitMater</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <% if (user) {%>
          <a class="nav-link" href="/user/<%=user.id%>/profile">
        <% } else { %>
           <a class="nav-link" href="/">
          <% } %>
          <i class="fa fa-home"></i>
          Home
          <span class="sr-only">(current)</span>
          </a>
      </li>
      <% if (user) {%>
    <form action="/user/search" method="POST" id="searchForm" class="form-inline my-2 my-lg-0">
      <input type="text" class="form-control mr-sm-2" name="query" placeholder="Search term...">
        <div class="input-group-btn search-panel">
            <select name="advanced" id="search_param" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <option value="all">All</option>
                <option value="username">Username</option>
                <option value="zipcode">Zipcode</option>
                <option value="activity">Activity</option>
            </select>
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> 
    <li class="nav-item active">
      <a class= "nav-link" href="/user/habit">
        <i class="fa fa-home"></i>
        Create A Habit
        <span class="sr-only">(current)</span>
      </a>
    </li>
    <% } %>
  </ul>
  <% if (user) {%>
    <li><a href="/api/logout">Logout</a></li>
  <% } else { %>
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Signup</a></li>
    <% } %>
  </div>
</nav>


