<%- include("partials/header", {user: user}) %>


<head>
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
  <script src="https://use.fontawesome.com/461b6a8b3d.js"></script>
  <link rel="stylesheet" href="styles/css/landing.css">
</head>

<html style="scroll-behavior: smooth;">
<body >

  <header id="showcase">
    <h1>Welcome To HabitMate</h1>
    <p>Connect with people who have the same interest as you to start building a habit</p>
    <a href="#mapMain" class="button">Learn More</a>
    <a href="/signup" class="button">Join Now</a>
</header>

<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">

<div id="mapMain" class= "container my-3">

  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">
    <div id='map' style='width: 100%; height: 500px; border-radius:  5px;'></div>
</div>
<script src="js/map.js"></script>

</body>


</html>