
<%- include("../partials/header") -%>

<p> <%= currentUser.username %></p>
    <% if (currentUser.fiends) { %>
        <p> <%= currentUser.friends[0].username %> </p>
    <% } %>

<p> <%= currentUser.activities %> </p>